root { 
    display: block;
}

.root {
-fx-background-image: url("images/splashScreen.png");

}

#bitcoinMarket{
	-fx-graphic: url('images/bitcoin_logo.png');
}

#dollarMarket{
	-fx-graphic: url('images/dollar_sign.png');
}

#ethereumMarket{
	-fx-graphic: url('images/ethereum_logo.png');
}

