root { 
    display: block;
}

.root {
	-fx-background-image: url("blank-background.png");

}

TextFlow {
    -fx-background-color: black;
}

.balance{
	-fx-font-weight: bold;
	-fx-fill:white;
	-fx-font-size: 12;
}

.position{
	-fx-font-weight: bold;
	-fx-fill:white;
	-fx-font-size: 12;
}

