# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
log/
classes/
META-INF/

# Misc.
.DS_Store
*.swp
*.swo

# externalized configuration file for keys
exchangeConfiguration.json
