root { 
    display: block;
}

.root {
	-fx-background-image: url("main-background.png");

}

.list-cell{
	-fx-font-family: "OpenSansEmoji.ttf";
	-fx-font-size: 12px;
}

#statusText{
	-fx-font-weight: bold;
}

